@import "tailwindcss";

@theme {
  --color-brand-orange: #ff9900;
  --color-brand-orange-dark: #ff5500;
  --color-brand-green: #00ff88;
  --color-mine-shaft: #333333;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cursive: var(--font-caveat);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}